<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <!--文本-->
    <input type="text" placeholder="请输入文本" v-model.lazy="text">
    <div v-text="text"></div>
    <hr>
    <!--多行文本-->
    <textarea cols="30" rows="10" v-model="textarea"></textarea>
    <div v-text="textarea"></div>
    <hr>
    <!--选择框    -->
    <select v-model="selectText">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <div v-text="selectText"></div>
    <hr>
</div>
<script>
    const vm = new Vue({
        el: "#app",
        data() {
            return {
                text: "",
                textarea: "",
                selectText: ""
            }
        }
    })
</script>
</body>
</html>